/* Melakukan inisialisasi warna dalam :root */
:root{
    --blue-primary: #0D28A6;
    --green-primary: #5CB85F;
    --green-primary2:#3D7B3F;
    --black: #000;
    --white: #FFF;
    --neutral-1: #D0D0D0;
    --neutral-2: #D4D4D4;
    --neutral-3: #222;
    --bg: #F1F3FF;
}


/* Melakukan reset */
*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box; /*berfungsi agar tidak perlu mengatur dimensi border*/
    outline: none; 
    border: none;
    text-decoration: none !important;  /*berfungsi untuk menghilangkan garis bawah ketika buat link*/
    list-style: none !important; /*berfungsi untuk menghilangkan bullet list*/
}

body h1{
    font-size: 2rem;
    font-weight: 700;
    line-height: 3.3rem;
}

body h2{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.25rem;
}

body h5{
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 1.25rem;
}

body p{
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.25rem;
}

body a{
    color: var(--black);
}


/* ========== Pembuatan Logo BCR =========== */
.navbar-brand{
    font-size: 2rem;
    font-weight: 700;
}


/* ========== Pembuatan Button Navigation Bar =========== */
#navbarNav button{
    background: var(--green-primary);
    border-color: var(--green-primary);
    font-size: 0.9rem;
    border-radius: 2px;
}

#navbarNav button:hover{
    background: var(--blue-primary);
    border-color: var(--blue-primary);
    font-size: 0.9rem;
    border-radius: 2px;
}


/* ========== Pembuatan Navigation Bar =========== */
nav.navbar {
    background-color: var(--bg);
    padding: 1.5rem 0;
}

.nav-link{
    margin: 0 1rem;
    font-size: 0.9rem;
    font-weight: 400;
}

.nav-item{
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--black);
}


/* ========== Pembuatan Header =========== */
header {
    background-color: var(--bg);
    padding-top: 10rem;
}

.header__kiri button{
    background: var(--green-primary);
    border-color: var(--green-primary);
    font-size: 0.9rem;
    border-radius: 2px;
}

/* ========== Pembuatan Section Services =========== */
.services__container{
    margin: 6rem 0;
    padding: 0 5rem;
}

.services__kanan p{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.services__list{
    padding-left: 0;
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.25rem;
}

.services__list li img{
    padding: 5px;
}

.card-title {
    margin: 1rem 0 1rem;
}



/* ========== Pembuatan Section Testimonials =========== */
.testimonials__container{
    margin-top: 6rem;
}

.mh{
    max-height: 30%;
    max-width: 30%;
}

.testimonials__container .card{
    align-items: center;
}

.testimonials__container .pagination{
    justify-content: center;
}

/* ========== Pembuatan Section Banner =========== */
#card-banner{
    background-color: var(--blue-primary);
    color: var(--white);
    border-color: var(--blue-primary);
    border-radius: 13px;
    padding: 0 10rem;
}

#card-banner button{
    background: var(--green-primary);
    border-color: var(--green-primary);
    font-size: 0.9rem;
    border-radius: 2px;
}

#card-banner button:hover{
    color: var(--blue-primary);
    background: var(--white);
    border-color: var(--white);
    font-size: 0.9rem;
    border-radius: 2px;
}


/* ========== Pembuatan Section FAQ =========== */
.faq__container{
    margin: 6rem 0;
}


/* ========== Pembuatan Footer =========== */
.footer__socials{
    display: flex;
    gap: 1rem;
    padding-left: 0;
    margin-top: 2rem;
}
